
/* top player style  */


.title{
    color: blue;
}
.player{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.players{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.players img{
    width: 56px;
    height: 56px;
}

.players a{
    text-decoration: none;
}




/* top bloger style  */

.blog{
    display: flex;
}